.element__delete-button {
    position: absolute;
    width: 18px;
    height: 20px;
    background-image: url(../../../images/trash.svg);
    border: none;
    top: 15px;
    right: 20px;
    background-color: transparent;
    cursor: pointer;
  }
  
  .element__delete-button:hover {
    opacity: 60%;
  }