.popup__close-button {
    width:32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    padding: 0;
    background-color: transparent;
    background-image: url(../../../images/close-popup-icon.svg);
    border: none;
  }
  
.popup__close-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 645px) {

  .popup__close-button {
    width:20px;
    height: 20px;
    margin-top: -36px;
    margin-left: 262px;
    background-image: url(../../../images/close-popup-icon-small.png);
  }
}